<div class="container">
  <div class="row-fluid">
    <div class="span9">
      <div class="hero-unit">
        <h2>Welcome to SoundMap!</h2>
        <p>This is a web app that you can create your own sound based on geo-location information.</p>
        <p>
          <a class="btn btn-primary btn-large">
            Learn more
          </a>
        </p>
      </div>
    </div>
    <div class="span3">
      <div>
        <h4>Sign in</h4>
        <form>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="text" placeholder="UserID / Email address">
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            <input type="password" placeholder="Password">
          </div>
          <div>
            <input type="submit" class="btn btn-primary btn-large btn-block" value="Sign in">
          </div>
        </form>
        <h4>New to SoundMap?</h4>
        <p class="center"><a href="/" class="btn btn-success btn-large btn-block">Sign up now!</a></p>
      </div>

    </div>
  </div>
</div>