// Place all the styles related to the MapView controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  margin: 10px 0;
  display: block;
  width: 100%;
  height: 250px;
}

#map {
  background: #58B;
}

#map img {
  max-width: none;
}

#map label {
  width: auto; display:inline;
}

#map-box-expandable {
  position: relative;
  background: #FFF;
  box-shadow: 0 0 20px #999;
  border-radius: 2px;
}

#map-overlay {
  position: absolute;
  right: 8px;
  bottom: 25px;
  height: 190px;
  width: 300px;
  background: #FFF;
  opacity: 0.8;
  border-radius: 4px;
  box-shadow: 0 0 10px #999;
}

#expand-overlay {
  position: absolute;
  left: 4px;
  bottom: 4px;

}

#info-box-title {
  background-color: #575757;
  color: #FFF;
  font-weight: bold;
  padding: 5px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#info-box {
  padding: 10px;
}

.info-entry-title {
  line-height: 12px;
}

.info-entry-author {
}

.player-wrapper {
  margin: 10px 0;
}

audio {
  width: 100%;
}

#news-feed-box {
  //border-right: 1px solid #E3E3E3;
  .news-feed-item-title {
    font-size: 130%;
  }
  .news-feed-item {
    padding: 10px;
    border-top: 1px solid #e3e3e3;
  }
}

.label {
  a {
    color: #ffffff;
  }
}