<div class="container">
  <div class="row-fluid">
    <div class="span8">
      <div class="map-wrapper">
        <div id="map"></div>
      </div>
    </div>
    <div class="span4">

      <div id="info-box">

        <div id="notice-flash" class="alert alert-success">
          Here goes the info
        </div>

        <div class="well">
          <h4 id="info-title">Now Playing</h4>
          <dl>
            <dt>Title</dt>
            <dd id="p-title"></dd>
            <dt>Geo Location</dt>
            <dd id="p-location"></dd>
          </dl>
        </div>

        <% if user_signed_in? %>
        <table class="table">
          <% @sounds.each do |sound| %>
          <tr>
            <td class="span3"><%= sound.title %></td>
            <td class="span1"><button class="btn btn-primary btn-mini">Play</button></td></tr>
          <% end %>
        </table>
        <% end %>

      </div>

      <div class="player-wrapper">
        <audio id="player" src="sounds/1.mp3" controls preload="auto" autobuffer></audio>
      </div>

      <div id="control-box">
        <%= link_to 'Create Your Own!', new_sound_path, {'class' => 'btn btn-success'} %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
    var play = function(path) {
        audio = document.getElementById('player');
        audio.pause();
        audio.src = path;
        audio.play();
    }
</script>